body{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #cad2c5 ;
    padding: 10px;
}

.container{
    max-width: 700px;
    width: 100%;
    background-color: #264653;
    padding: 25px 30px;
    border-radius: 5px;
   
}

.container .title{
    font-size: 20px;
    font-weight: 300;
    position: relative;
    
}
.register button{
    width: 600px;
    padding: 5px;
    background-color:skyblue;
    border: none;
    margin-left: 50px;
    color: white;
    margin-top: 30px;
    
}
 .registration input{
  padding: 5px;
  width: 180px;
    
 }
 h2{
 font-family: sans-serif;
 color: white;
 text-align: center;
 }

 .registration label {
    color: white;
 }

 span{
    color: white;
 }